.footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    line-height: 60px;
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-actions .btn {
    margin-right: 10px;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #333;
}

body {
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
    max-width: 42em;
}


/*
 * Header
 */
.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }

    .nav-masthead {
        float: right;
    }
}


/*
 * Cover
 */
.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
    color: rgba(255, 255, 255, .5);
}


.formStyle {
    background-color: #333;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ecf0f1;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    font-size: 1.2em;
    font-weight: 100;
    color: #ffffff;
    width: 100%;
}

.formButton {
    float: right;
    background-color: #ffffff;
    display: inline-block;
    color: #333;
    font-size: 28px;
    font-weight: 500;
    padding: 6px 24px;
    margin-top: 15px;
    text-decoration: none;
}

.formButton:hover {
    background-color: rgba(255, 255, 255, .5);
    color: #ffffff;
}

.formButton:active {
    position: relative;
    top: 3px;
}

/*To remove the outline that appears on clicking the input textbox*/
input:focus {
    outline: none;
}

/* To format the placeholder text color */
::-webkit-input-placeholder {
    color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}

:-ms-input-placeholder {
    color: #fff;
}
